

.govuk-check-your-answers {

  @media(min-width: 769px) {
    display: block;
  }

  > * {
    position: relative;
    border-bottom: 1px solid #bfc1c3;

    @media(min-width: 769px) {
      display: block;
      border-bottom-width: 1px;
    }

    > * {
      display: block;

      @media(min-width: 769px) {
        display: block;
        border-bottom: 0px solid #bfc1c3;
        padding: 0; // copied from Elements' td padding
        margin-bottom: 0.75em;
      }
    }

    @media(min-width: 769px) {
      &:first-child > * {
        padding-top: 0;
      }
    }
  }

  .cya-question {
    font-weight: normal;
  }

  > *:first-child .cya-question {
      margin: 0.75em 4em .21053em 0;
  }

  .cya-answer {
    padding-bottom: 0; // from Elements' td
  }

  .cya-change {

    @media(min-width: 769px) {
      position: absolute;
      right: 0.75em;
    }
  }

}
