
@import "check-your-answers";

.panel-indent {
  margin: 2em 0;
}

.panel-border-wide {
  border-left-width: 10px;
}

table tr.border-none th,
table tr.border-none td {
  border: none;
}

@media (min-width: 641px) {
  table th, table td {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.uppercase-only {
  text-transform: uppercase;
}

// Some joker added !important on h2 margin-top in Assets Frontend application.min.css
article h2.org-name {
  margin-top: 2em !important;
  margin-bottom: 1em;
}

.org-name .pre-heading{
  font-size: 19px;
  color: #0b0c0c;
}

table caption {
  text-align: left;
}

.margin-top-large {
  margin-top: 3em;
}

/* new-style page headers */

.page-header {
  clear: both;
  display: table;
  margin-top: 1.8em;
}

.page-header .heading-xlarge {
  margin: .15em 0 1.25em;
}

.page-header .heading-secondary {
  color: #6f777b;
  display: table-header-group;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  margin-bottom: 0;
  text-transform: none;
}


.float-right{
  float:right;
}