@import "check-your-answers";

.panel-border-wide {
  border-left-width: 10px;
  margin-bottom: 50px;
}

table {
  margin-bottom: 2.5em;
}

.width75pc {
  width: 75%
}

.width50pc {
  width: 50%
}

.width26pc {
  width: 26%
}

.width20pc {
  width: 20%
}

.width25pc {
  width: 25%
}

.width27pc {
  width: 27%
}

.width30pc {
  width: 30%
}

.width40pc {
  width: 40%
}

.boldFont {
  font-weight: bold
}

table tr.border-none th,
table tr.border-none td {
  border: none;
}

@media (min-width: 641px) {
  table th, table td {
    font-size: 19px;
    line-height: 1.31579;
    padding-right: 0px;
  }
}

.uppercase-only {
  text-transform: uppercase;
}

// Some joker added !important on h2 margin-top in Assets Frontend application.min.css
article h2.org-name {
  margin-top: 2em !important;
  margin-bottom: 1em;
}

.org-name .pre-heading {
  font-size: 19px;
  color: #0b0c0c;
}

table caption {
  text-align: left;
}

.margin-top-large {
  margin-top: 3em;
}

/* new-style page headers */

.page-header {
  clear: both;
  display: table;
  margin-top: 1.8em;
}

.page-header .heading-xlarge {
  margin: .15em 0 0.5em;
}

.page-header .heading-large {
  font-size: 36px;
}

.page-header .heading-secondary {
  margin: 50px 0px 50px 0px;
}

.flash.error-summary {
  border-color: #b10e1e;
}

.flash {
  border: 5px solid #b10e1e;
}

.form-field--error {
  border-left: 5px solid #b10e1e;
  padding-left: 15px;
}

.form-field--error .error-notification {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

.h3-heading {
  font-size: 24px;
}

.float-right {
  float: right;
}

.error-font {
  font-weight: 600 !important;
  color: #af1324;
  font-size: 19px !important;
}

.error-message {
  margin-top: 0.26316em;
  margin-bottom: 1.05263em;
}

.input-error {
  border: 3px solid #df3034;
}

.numeric {
  text-align: right;
}

.alignRight {
  text-align: right;
}

.hidden {
  visibility: hidden;
}