
.panel-indent {
  margin: 2em 0;
}

.panel-border-wide {
  border-left-width: 10px;
}

table tr.border-none th,
table tr.border-none td {
  border: none;
}

@media (min-width: 641px) {
  table th, table td {
    font-size: 19px;
    line-height: 1.31579;
  }
}

// Some joker added !important on h2 margin-top in Assets Frontend application.min.css
article h2.org-name {
  margin-top: 2em !important;
  margin-bottom: 1em;
}

.org-name .pre-heading{
  font-size: 19px;
}

table caption {
  text-align: left;
}

.margin-top-large {
  margin-top: 3em;
}